#container 
{
 	font-family:微軟正黑體;
	width: 900px;
	margin-top:-7px;
	margin-right: auto;
	margin-left: auto;
}
#header 
{ 
	color:#CC33CC;
	height: 80px;
  	width: 900px;
  	padding-top:10px; 
  	padding-left:30px;
  	background-color: #BBD9EE;
}
h1{
	font-size:25px;
	font-weight:bold;
}
h2{
	font-weight:bold;
	font-size:20px;
	color:black;
	padding-top:10px;
}
h3{
	font-weight:bold;
	font-size:18px;
	color:black;
	padding-top:10px;
}
#list{
	width:180px;
	height:900px; 
    float:left;
    margin-top:1px;
    margin-right:20px;
    background-color:#6600FF;
}
.listcss{
	font-weight:bold;
	list-style:none;
    line-height: 35px;
}
.listcss li a{
	margin-left: -30px;
	text-decoration: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #CCC;
    color:white;
    font-size:15px;
    margin-top:10px;
}
.listcss a:hover{
	background-color:white;
	color:#d0d0d0;
}
#content{
	margin-left: 200px;
}
#footer 
{
	height: 20px;
	width: 700px;
	padding-top:25px;
	margin-bottom:50px;
	color:black;
  	font-size: 16px;
  	text-align:center;
  	border-top-style: solid;
    border-top-color: #CCC;
    border-top-width: 1.5px;
}
p
{
	color:black;
	font-size:16px;
	line-height:20px; 
}
a {
    text-decoration:none;
    color:#2894FF;
    font-weight:bold;
}
a:hover{
	color:#6F00D2;
	text-decoration:underline;
}
table{
	width: 720px;
	font-size: 16px;
	color:black;
	border-color:black; 
	line-height:30px;
}
td{
	padding-top: 10px;
	padding-bottom: 10px;
}
strong{
	font-size:20px;
}
i{
	font-style:italic;
}
b{

	font-weight:bold;
}
.s1{
	background-color:#DDDDDD;
	line-height:25px;
	padding:10px;
}
.s2{
	background-color:#CCFFCC;
	line-height:25px;
	padding:10px;
}
.s3{
	color:#006600;
}
.s4{
	color: #00FF00; 
	font-family:arial; 
	font-size: large; 
}
.s5{
	color: #0066FF;  
  	font-size: xx-large; 
}